<footer class="bg-light py-4">
    <div class="container-fluid">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6">
                <div>
                    <h3>We're Always Here To Help</h3>
                    <p class="small text-muted">Reach out to us through any of these support channels </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <a href="" class="text-decoration-none">
                            <div class="row align-items-center">
                                <div class="col-3  d-flex justify-content-center">
                                    <div class="roundedConatiner ">
                                        <i class="fa-solid fa-circle-info text-black"></i>
                                    </div>
                                </div>
                                <div class="col-9">
                                         <p class="text-muted ServiceCustomer m-0">CUSTOMER HAPPINESS CENTER</p>
                                        <h4 class="h5 text-black">Help.noon.com</h4>
                                </div>
                          
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="" class="text-decoration-none">
                            <div class="row align-items-center">
                                <div class="col-3  d-flex justify-content-center">
                                    <div class="roundedConatiner ">
                                        <i class="fa-regular fa-envelope text-black"></i>
                                    </div>
                                </div>
                                <div class="col-9">
                                         <p class="text-muted ServiceCustomer m-0">Email SUPPORT</p>
                                        <h4 class="h5 text-black">egypt@noon.com</h4>
                                </div>
                          
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="" class="text-decoration-none">
                            <div class="row align-items-center">
                                <div class="col-3  d-flex justify-content-center">
                                    <div class="roundedConatiner ">
                                        <i class="fa-solid fa-phone text-black"></i>
                                    </div>
                                </div>
                                <div class="col-9">
                                         <p class="text-muted ServiceCustomer m-0">Phone Support</p>
                                        <h4 class="h5 text-black">16358</h4>
                                </div>
                          
                            </div>
                        </a>
                    </div>
                </div>
            </div>         
        </div>
        <div class="container">
            <div class="row mt-3 w-100  justify-content-between">
                <div class="offset-1 col-5">
                   <h5 class="text-center">Shop On The Go</h5>
                   <div class="row">
                       <img src="./assets/images/app-store.svg"   alt="app-store" class="" >
                       <img src="./assets/images/google-play.svg"  alt="google play" class="" >
                       <img src="./assets/images/Huawei-icon.png" class=""  alt="Huawei" >
                   </div>
                </div>
                <div class="col-4">
                   <h5 class="text-center">CONTACT WITH US </h5>
                   <div class="row gx-2 justify-content-evenly">
                       <div class="roundedConatiner bg-warning col-3"><i class="fa-brands fa-facebook-f"></i></div>
                       <div class="roundedConatiner bg-warning col-3"><i class="fa-brands fa-twitter"></i></div>
                       <div class="roundedConatiner bg-warning col-3"><i class="fa-brands fa-instagram"></i></div>
                       <div class="roundedConatiner bg-warning col-3"><i class="fa-brands fa-linkedin"></i></div>
                   </div>
                </div> 
           </div>
        </div>
           
       
        <hr/>
        <p class="text-center">&copy; 2024 noon.By M.Fawzy All Rights Reserved</p>
    </div>
   
</footer>
