<form  [formGroup]="loginForm" class="row g-3 w-50 mx-auto my-4 bg-body-tertiary p-4">
    <h1 class="alert alert-warning">Sign In</h1>
    <div class="col-md-12">
      <label for="email" class="form-label">Email</label>
      <input formControlName="email" type="email"  class="form-control" id="email">
      <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert alert-danger my-2">
                <div *ngIf="loginForm.get('email')?.getError('required')">Email is Required</div>
                <div *ngIf="loginForm.get('email')?.getError('email')">Invalid Email!!</div>
      </div>
    </div>
    <div class="col-md-12">
      <label for="password" class="form-label">Password</label>
      <input formControlName="password" type="password" class="form-control" id="password">
      <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="alert alert-danger mt-2">
            <div   *ngIf="loginForm.get('password')?.getError('required')">Password is Required</div>
      </div>  
    </div>
    <div class="col-12">
      <button [disabled]="loginForm.invalid" type="submit" (click)="loginUser()" class="btn btn-main d-block ms-auto">
        <i *ngIf="isspinnner" class="fa-solid fa-spinner fa-spin-pulse fa-spin-reverse fa-1xl mx-2"></i>
        Sign in</button>
        <a class="ms-auto text-success" routerLink="/setting/forgetPassword">forget Password !!</a>
        <div *ngIf="errorSignin" class="alert alert-danger mt-3">{{errorSignin}}</div>
    </div>
  </form>