<nav #nav class="navbar  mb-0 ">
    <div class="container-fluid d-flex justify-content-between flex-nowrap">
      <a class="navbar-brand" href="#"><img src="./assets/images/noon-logo-en.svg" alt=""></a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="" id="">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center d-flex flex-row">
          <li class="nav-item border-start border-black px-2">
            Ahlan 
           <b>{{this.userName}}</b>
          </li>
          <li class="nav-item border-start border-black position-relative px-2">
            <a class="nav-link" aria-current="page" routerLinkActive="activeLink" routerLink="wishedlist">Wsihlist <i class="fa-regular fa-heart fa-xl"></i></a>
            <span *ngIf="this.numberOfWishList" class="floatingSpan">{{this.numberOfWishList}}</span>
          </li>
          <li class="nav-item border-start border-black position-relative px-2">
            <a class="nav-link" aria-current="page" routerLinkActive="activeLink" routerLink="cart">Cart <i class="fa-solid fa-cart-shopping fa-xl"></i></a>
            <span *ngIf="this.numberOfCartProducts" class="floatingSpan">{{numberOfCartProducts}}</span>
          </li>
        </ul>
      </div>
    </div>
</nav>

  <nav class="navbar  bg-light mt-0">
    <div class="container-fluid ">
    
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="d-flex w-100  justify-content-between" id="">
        <ul class="navbar-nav ms-auto d-flex flex-row">
            <li class="nav-item mx-2 ">
              <a class="nav-link px-2" aria-current="page" routerLinkActive="activeLink"  routerLink="home">Home</a>
            </li>
            <li class="nav-item  mx-2">
              <a class="nav-link px-2" aria-current="page" routerLinkActive="activeLink" routerLink="products">Products</a>
            </li>
            <li class="nav-item  mx-2">
              <a class="nav-link px-2" aria-current="page"  routerLinkActive="activeLink" routerLink="categories">Categories</a>
            </li>
            <li class="nav-item  mx-2">
              <a class="nav-link px-2" aria-current="page" routerLinkActive="activeLink" routerLink="brands">Brands</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto  mb-lg-0 d-flex flex-row">
          <li class="nav-item mx-2">
            <a class="nav-link" aria-current="page" href="#"><i class="fa-brands fa-square-instagram"></i></a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" aria-current="page" href="#"><i class="fa-brands fa-square-facebook"></i></a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" aria-current="page" href="#"><i class="fa-brands fa-tiktok"></i></a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" aria-current="page" href="#"><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" aria-current="page" href="#"><i class="fa-brands fa-linkedin"></i></a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" aria-current="page" href="#"><i class="fa-brands fa-youtube"></i></a>
          </li>
         
          <li class="nav-item mx-2">
            <span class="nav-link pointer" (click)="signOutUser()"aria-current="page" >Sign out</span>
          </li>
         
       
        </ul>
      </div>
    </div>
  </nav>