/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root{
    --main-color:#FEEE00;
    --second-color:black;
    --rating-color:#38AE04;
    --offers-color:#DE0B0B;
    --font-family:"Nunito";
    --shadow-color:rgba(254, 238, 0 , 0.7);
    --unwished:#AAB8C2;
}
.activeLink{
    font-weight: bold;
    border-radius: 5px;
    background-color: var(--main-color);
}

.btn-main{
    background-color: var(--main-color);
    padding: 8px;
    border-radius: 5px;;
}

.btn-main:hover{
    background-color: hsl(56, 100%, 80%) !important;
}

.form-control:focus{
    border-color: var(--main-color);
    box-shadow: 0 0 0 0.25rem var(--shadow-color);
}
.nav-link {
    transition: unset !important;
  }

.pointer{
    cursor: pointer;
}  
.card{
    transition:  box-shadow 0.5s;
}
.card:hover{
    box-shadow: 0 0 10px var(--main-color);
}
.wishList{
    position: absolute;
    top:5px;
    left: 5px;
    right: 5px;
}
.ratingColor{
   color: var(--rating-color);
}
.iconbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background-color: #F2F2F5;
}
.unwished{
    color: var(--unwished);
}
.wished{
    color: var(--main-color);
 
}
.cart:hover{
    box-shadow:0 0 5px var(--rating-color) !important;
}
.heart:hover{
    box-shadow: 0 0 5px var(--rating-color) !important;
}   
::-webkit-scrollbar{
    background-color: var(--unwished);
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
.roundedConatiner{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px  gray;
}